################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SentimentalChat/bin
/SentimentalChat/obj
/SentimentalChat/Properties
/SentimentalChat/SentimentalChat.csproj.user
